//Pink and red palette
$mauveShadow: #8b2126;
$crimsonViolet: #602437;
$vintageBerry: #8a2846;
$rosewood: #b9375e;
$blushRose: #e05780;
$petalRouge: #ff7aa2;
$pinkMist: #ff9e9e;
$pastelPink: #ffc2d4;
$petalFrost: #ffe0e0;

//Pink and yellow palette
$darkerCoral: #e07b82;
$darkCoral: #e58087;
$lightCoral: #e99394;
$powderBlush: #eda7a2;
$almondSilk: #f6cdbc;
$almondCream: #fae1ca;
$cornsilk: #f5f0e1;
$cornsilkier: #f7f5ef;

$pastelYellow: rgb(255, 241, 181);
$pastelOrange: rgb(255, 207, 179);
