//Pink and red palette
$mauveShadow: #8b2126;
$crimsonViolet: #602437;
$vintageBerry: #8a2846;
$rosewood: #b9375e;
$blushRose: #e05780;
$petalRouge: #ff7aa2;
$pinkMist: #ff9ebb;
$pastelPink: #ffc2d4;
$petalFrost: #ffe0e9;

//Pink and yellow palette
$darkCoral: #e58087;
$lightCoral: #e99394;
$powderBlush: #eda7a2;
$almondSilk: #f6cdbc;
$almondCream: #fae1ca;
$cornsilk: #fef4d7;
