$mobile-width: 480px;

header {
  @media only screen and (max-width: $mobile-width) {
    display: none;
  }
  @media only screen and (min-width: ($mobile-width+1)) {
    background-color: grey;
    width: 100vw;
    height: 45px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

footer {
  background-color: grey;
  width: 100%;
  height: 155px;
}

main {
  @media only screen and (max-width: $mobile-width) {
    margin: 20px 20px 20px 20px;
  }
  @media only screen and (min-width: ($mobile-width+1)) {
    margin: 55px 0px 0px 0px;
  }

  display: flex;
  flex-direction: column;
}

body {
  overflow: auto;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  margin-top: 40px;
  margin-bottom: 10px;
}

@mixin asymmetrical-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  box-sizing: border-box;
  gap: 20px;
}

@mixin assymetrical-grid-split-area {
  display: flex;
  flex-direction: column;
  flex: 50%;
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
}

@mixin assymetrical-grid-unsplit-area {
  flex: 50%;
  width: 50%;
}

.greeting-area,
.about-me-area {
  align-items: center;
  flex-direction: column;

  @media only screen and (max-width: $mobile-width) {
    display: flex;
    flex-direction: column;
  }
  @media only screen and (min-width: ($mobile-width+1)) {
    @include asymmetrical-grid;
    &__img {
      @include assymetrical-grid-unsplit-area;
    }
    &__text {
      @include assymetrical-grid-split-area;
    }
  }
}
.greeting-area {
  @media only screen and (max-width: $mobile-width) {
    &__img {
      display: none;
    }
  }
  @media only screen and (min-width: ($mobile-width+1)) {
    margin-top: 80px;
  }
}
.about-me-area {
  @media only screen and (max-width: ($mobile-width+1)) {
    display: flex;
    flex-direction: column;
    &__text {
      order: 1;
    }

    &__img {
      margin-top: auto;
      order: 2;
    }
  }
}

@mixin grid($width) {
  display: grid;
  grid-template-columns: repeat($width, 1fr);
  grid-auto-flow: row;
}

.technical-skills-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__text {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__grid {
    @media only screen and (max-width: ($mobile-width)) {
      @include grid(1);
    }

    @media only screen and (min-width: ($mobile-width+1)) {
      @include grid(9);
      padding-left: 100px;
      padding-right: 100px;
    }
  }
}

.my-projects-area {
  display: flex;
  align-items: center;
  flex-direction: column;

  &__grid {
    @media only screen and (max-width: ($mobile-width)) {
      @include grid(1);
    }
    @media only screen and (min-width: ($mobile-width+1)) {
      @include grid(2);
    }
  }

  &__project {
    align-items: center;

    padding: 40px;

    @media only screen and (max-width: ($mobile-width)) {
      width: 80vw;
    }
    @media only screen and (min-width: ($mobile-width+1)) {
      width: 40vw;
    }

    &--image {
      display: flex;
      width: 100%;
    }
  }
}
