@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
body {
  overflow: auto;
  margin: 0;
  font-family: "Work Sans", sans-serif;
  background-color: #eda7a2;
}

h2,
h3,
p {
  color: #602437;
}

@media only screen and (max-width: 480px) {
  header {
    display: none;
  }
}
@media only screen and (min-width: 481px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e58087;
    height: 45px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

.header_nav {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-items: flex-end;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 100%;
}
.header_nav--button {
  align-self: center;
  margin: 0px 10px 0px 10px;
}

.header_title {
  font-size: 30px;
  font-weight: bold;
  margin: 0px 0px 0px 20px;
  text-align: center;
}

button.header_nav--button {
  height: 30px;
}

footer {
  background-color: #e58087;
  width: 100%;
  height: 155px;
}

@media only screen and (max-width: 480px) {
  main {
    text-align: center;
    padding: 20px 0px 20px 0px;
  }
}
@media only screen and (min-width: 481px) {
  main {
    margin: 55px 0px 0px 0px;
  }
}
main {
  display: flex;
  flex-direction: column;
}

section {
  margin-top: 40px;
  margin-bottom: 10px;
  background-color: #fae1ca;
}

.greeting-area,
.about-me-area {
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media only screen and (max-width: 480px) {
  .greeting-area,
  .about-me-area {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-width: 481px) {
  .greeting-area,
  .about-me-area {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    box-sizing: border-box;
    gap: 20px;
  }
  .greeting-area__img,
  .about-me-area__img {
    flex: 50%;
    width: 50%;
  }
  .greeting-area__text,
  .about-me-area__text {
    display: flex;
    flex-direction: column;
    flex: 50%;
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .greeting-area__img {
    display: none;
  }
}
@media only screen and (min-width: 481px) {
  .greeting-area {
    margin-top: 80px;
  }
}

@media only screen and (max-width: 481px) {
  .about-me-area {
    display: flex;
    flex-direction: column;
  }
  .about-me-area__text {
    order: 1;
  }
  .about-me-area__img {
    margin-top: auto;
    order: 2;
  }
}

.technical-skills-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.technical-skills-area__text {
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
@media only screen and (max-width: 480px) {
  .technical-skills-area__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-flow: row;
  }
}
@media only screen and (min-width: 481px) {
  .technical-skills-area__grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-flow: row;
    padding-left: 100px;
    padding-right: 100px;
  }
}

.my-projects-area {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media only screen and (max-width: 480px) {
  .my-projects-area__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-flow: row;
  }
}
@media only screen and (min-width: 481px) {
  .my-projects-area__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
  }
}
.my-projects-area__project {
  align-items: center;
  padding: 40px;
}
@media only screen and (max-width: 480px) {
  .my-projects-area__project {
    width: 80vw;
  }
}
@media only screen and (min-width: 481px) {
  .my-projects-area__project {
    width: 40vw;
  }
}
.my-projects-area__project--image {
  display: flex;
  width: 100%;
}

.my-projects-area,
.technical-skills-area {
  margin-left: 20px;
  margin-right: 20px;
}
