@use "./modules/colours" as colours;

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

$mobile-width: 480px;

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  background-image: linear-gradient(
    to right,
    colours.$almondCream,
    colours.$almondSilk,
    colours.$powderBlush
  );
}

h2,
h3,
p,
button,
a {
  color: colours.$crimsonViolet;
  text-decoration: none;
}

header {
  @media only screen and (max-width: $mobile-width) {
    display: none;
  }
  @media only screen and (min-width: ($mobile-width+1)) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: colours.$darkCoral;
    height: 45px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow:
      colours.$crimsonViolet 0px 4px 16px,
      rgba(17, 17, 26, 0.1) 0px 8px 24px,
      rgba(17, 17, 26, 0.1) 0px 16px 56px;
  }
}

.header__nav {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-items: flex-end;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 100%;

  &--button {
    align-self: center;
    margin: 0px 10px 0px 10px;
    font-size: 18px;
  }
  &--contact {
    border-radius: 15px;
    border: 1px solid colours.$darkCoral;
    background-color: colours.$almondSilk;
    font-size: 1rem;
    font-family: "Work Sans", sans-serif;

    &:hover {
      background-color: colours.$almondCream;
    }
  }
}
.header__title {
  font-size: 20px;
  font-weight: bold;
  margin: 0px 0px 0px 20px;
  text-align: center;
  text-decoration: solid 3px colours.$pastelOrange;
}

button.header__nav--button {
  height: 30px;
  width: 120px;
  font-size: 14px;
  font-weight: bold;
}

footer {
  background-color: colours.$darkCoral;
  width: 100%;
  height: 155px;
  box-shadow:
    colours.$crimsonViolet 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

main {
  @media only screen and (max-width: $mobile-width) {
    text-align: center;
    padding: 20px 0px 20px 0px;
  }
  @media only screen and (min-width: ($mobile-width+1)) {
    margin: 55px 0px 0px 0px;
  }

  display: flex;
  flex-direction: column;
}

section {
  margin-top: 40px;
  margin-bottom: 10px;
  background-image: linear-gradient(
    to left,
    colours.$almondCream 0%,
    colours.$cornsilk 100%
  );
}

@mixin asymmetrical-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  box-sizing: border-box;
  gap: 20px;
}

@mixin assymetrical-grid-split-area {
  display: flex;
  flex-direction: column;
  flex: 50%;
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
}

@mixin assymetrical-grid-unsplit-area {
  flex: 50%;
  width: 50%;
}

.greeting-area,
.about-me-area {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;

  @media only screen and (max-width: $mobile-width) {
    display: flex;
    flex-direction: column;
  }
  @media only screen and (min-width: ($mobile-width+1)) {
    @include asymmetrical-grid;
    &__img {
      @include assymetrical-grid-unsplit-area;
    }
    &__text {
      @include assymetrical-grid-split-area;
    }
  }
}
.greeting-area {
  @media only screen and (max-width: $mobile-width) {
    &__img {
      display: none;
    }
  }
  @media only screen and (min-width: ($mobile-width+1)) {
    margin-top: 80px;
  }
}
.about-me-area {
  @media only screen and (max-width: ($mobile-width+1)) {
    display: flex;
    flex-direction: column;
    &__text {
      order: 1;
    }

    &__img {
      height: 400px;
      margin-top: auto;
      order: 2;
    }
  }
}

.greeting-area__img {
  @media only screen and (max-width: 999px) {
    flex: 50%;
  }
  @media only screen and (min-width: 1000px) and (max-width: 1400px) {
    flex: 20%;
  }
  @media only screen and (min-width: 1401px) {
    flex: 10%;
  }
}

@mixin grid($width) {
  display: grid;
  grid-template-columns: repeat($width, 1fr);
  grid-auto-flow: row;
}

.technical-skills-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  &__title {
    width: 100%;
  }
  &__text {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__grid {
    @media only screen and (max-width: ($mobile-width)) {
      @include grid(1);
    }

    @media only screen and (min-width: ($mobile-width+1)) and (max-width: 700px) {
      @include grid(5);
      padding-left: 100px;
      padding-right: 100px;
    }

    @media only screen and (min-width: 701px) {
      @include grid(9);
      padding-left: 100px;
      padding-right: 100px;
    }
  }
}

.my-projects-area {
  display: flex;
  align-items: center;
  flex-direction: column;

  &__grid {
    @media only screen and (max-width: ($mobile-width)) {
      @include grid(1);
    }
    @media only screen and (min-width: ($mobile-width+1)) {
      @include grid(2);
    }
  }

  &__project {
    align-items: center;
    border-radius: 25px;
    margin: 10px;
    padding: 20px;

    @media only screen and (max-width: ($mobile-width)) {
      width: 80vw;
    }
    @media only screen and (min-width: ($mobile-width+1)) {
      width: 1fr;
    }

    &--image {
      display: flex;
      width: 100%;
    }

    &--button {
      border-radius: 25px;
      border: 1px solid colours.$darkCoral;
      background-color: colours.$almondSilk;

      &:hover {
        background-color: colours.$darkerCoral;
      }
    }

    &:hover {
      background-color: colours.$cornsilkier;
    }
  }
}
.my-projects-area,
.technical-skills-area {
  box-shadow:
    colours.$almondSilk 0px 0px 0px 2px inset,
    colours.$pastelYellow 10px -10px 0px -3px,
    colours.$pastelOrange 10px -10px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 25px;
}
.my-projects-area {
  margin-bottom: 50px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__email {
    font-style: italic;
    padding-left: 30px;
  }
  &__contact-buttons {
    display: flex;
    padding-right: 30px;
    &--img {
      max-width: 40px;
      padding: 8px;
    }
  }
}
