header {
  background-color: grey;
  width: 100vw;
  height: 45px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

footer {
  background-color: grey;
  width: 100%;
  height: 155px;
}

main {
  margin: 55px 10px 10px 10px;
}

body {
  display: flex;
  overflow: auto;
  flex-direction: column;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  margin: 40px 0px;
}

.greeting-area,
.about-me-area {
  align-items: center;
}
@media only screen and (max-width: 480px) {
  .greeting-area,
  .about-me-area {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-width: 481px) {
  .greeting-area,
  .about-me-area {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    box-sizing: border-box;
    gap: 20px;
  }
  .greeting-area__img,
  .about-me-area__img {
    flex: 50%;
    width: 50%;
  }
  .greeting-area__text,
  .about-me-area__text {
    display: flex;
    flex-direction: column;
    flex: 50%;
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .greeting-area__img {
    display: none;
  }
}

@media only screen and (max-width: 481px) {
  .about-me-area {
    display: flex;
    flex-direction: column;
  }
  .about-me-area__text {
    order: 1;
  }
  .about-me-area__img {
    margin-top: auto;
    order: 2;
  }
}
