@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
body {
  overflow: auto;
  margin: 0;
  font-family: "Work Sans", sans-serif;
  background-image: linear-gradient(to right, #fae1ca, #f6cdbc, #eda7a2);
}

h2,
h3,
p,
button {
  color: #602437;
}

@media only screen and (max-width: 480px) {
  header {
    display: none;
  }
}
@media only screen and (min-width: 481px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e58087;
    height: 45px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: #602437 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  }
}

.header_nav {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-items: flex-end;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 100%;
}
.header_nav--button {
  align-self: center;
  margin: 0px 10px 0px 10px;
  font-size: 18px;
}
.header_nav--contact {
  border-radius: 15px;
  border: 1px solid #e58087;
  background-color: #f6cdbc;
  font-size: 1rem;
  font-family: "Work Sans", sans-serif;
}
.header_nav--contact:hover {
  background-color: #fae1ca;
}

.header_title {
  font-size: 20px;
  font-weight: bold;
  margin: 0px 0px 0px 20px;
  text-align: center;
  text-decoration: solid 3px rgb(255, 207, 179);
}

button.header_nav--button {
  height: 30px;
  width: 120px;
  font-size: 14px;
  font-weight: bold;
}

footer {
  background-color: #e58087;
  width: 100%;
  height: 155px;
  box-shadow: #602437 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

@media only screen and (max-width: 480px) {
  main {
    text-align: center;
    padding: 20px 0px 20px 0px;
  }
}
@media only screen and (min-width: 481px) {
  main {
    margin: 55px 0px 0px 0px;
  }
}
main {
  display: flex;
  flex-direction: column;
}

section {
  margin-top: 40px;
  margin-bottom: 10px;
  background-image: linear-gradient(to left, #fae1ca 0%, #f5f0e1 100%);
}

.greeting-area,
.about-me-area {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
@media only screen and (max-width: 480px) {
  .greeting-area,
  .about-me-area {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-width: 481px) {
  .greeting-area,
  .about-me-area {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    box-sizing: border-box;
    gap: 20px;
  }
  .greeting-area__img,
  .about-me-area__img {
    flex: 50%;
    width: 50%;
  }
  .greeting-area__text,
  .about-me-area__text {
    display: flex;
    flex-direction: column;
    flex: 50%;
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .greeting-area__img {
    display: none;
  }
}
@media only screen and (min-width: 481px) {
  .greeting-area {
    margin-top: 80px;
  }
}

@media only screen and (max-width: 481px) {
  .about-me-area {
    display: flex;
    flex-direction: column;
  }
  .about-me-area__text {
    order: 1;
  }
  .about-me-area__img {
    margin-top: auto;
    order: 2;
  }
}

@media only screen and (max-width: 999px) {
  .greeting-area__img {
    flex: 50%;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1400px) {
  .greeting-area__img {
    flex: 20%;
  }
}
@media only screen and (min-width: 1401px) {
  .greeting-area__img {
    flex: 10%;
  }
}

.technical-skills-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.technical-skills-area__title {
  width: 100%;
}
.technical-skills-area__text {
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
@media only screen and (max-width: 480px) {
  .technical-skills-area__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-flow: row;
  }
}
@media only screen and (min-width: 481px) and (max-width: 700px) {
  .technical-skills-area__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: row;
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media only screen and (min-width: 701px) {
  .technical-skills-area__grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-flow: row;
    padding-left: 100px;
    padding-right: 100px;
  }
}

.my-projects-area {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media only screen and (max-width: 480px) {
  .my-projects-area__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-flow: row;
  }
}
@media only screen and (min-width: 481px) {
  .my-projects-area__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
  }
}
.my-projects-area__project {
  align-items: center;
  border-radius: 25px;
  margin: 10px;
  padding: 20px;
}
@media only screen and (max-width: 480px) {
  .my-projects-area__project {
    width: 80vw;
  }
}
@media only screen and (min-width: 481px) {
  .my-projects-area__project {
    width: 1fr;
  }
}
.my-projects-area__project--image {
  display: flex;
  width: 100%;
}
.my-projects-area__project--button {
  border-radius: 25px;
  border: 1px solid #e58087;
  background-color: #f6cdbc;
}
.my-projects-area__project--button:hover {
  background-color: #e07b82;
}
.my-projects-area__project:hover {
  background-color: #f7f5ef;
}

.my-projects-area,
.technical-skills-area {
  box-shadow: #f6cdbc 0px 0px 0px 2px inset, rgb(255, 241, 181) 10px -10px 0px -3px, rgb(255, 207, 179) 10px -10px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 25px;
}

.my-projects-area {
  margin-bottom: 50px;
}

.footer {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  align-items: center;
}
.footer__email {
  font-style: italic;
}
.footer__contact-buttons {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 20px;
}
.footer__contact-buttons--img {
  max-width: 10%;
  padding: 8px;
}
