@use "./modules/colours" as colours;

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

$mobile-width: 480px;

body {
  overflow: auto;
  margin: 0;
  font-family: "Work Sans", sans-serif;
  background-color: colours.$powderBlush;
}

h2,
h3,
p {
  color: colours.$crimsonViolet;
}

header {
  @media only screen and (max-width: $mobile-width) {
    display: none;
  }
  @media only screen and (min-width: ($mobile-width+1)) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: colours.$darkCoral;
    height: 45px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

.header_nav {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-items: flex-end;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 100%;

  &--button {
    align-self: center;
    margin: 0px 10px 0px 10px;
  }
}
.header_title {
  font-size: 30px;
  font-weight: bold;
  margin: 0px 0px 0px 20px;
  text-align: center;
}

button.header_nav--button {
  height: 30px;
}

footer {
  background-color: colours.$darkCoral;
  width: 100%;
  height: 155px;
}

main {
  @media only screen and (max-width: $mobile-width) {
    text-align: center;
    padding: 20px 0px 20px 0px;
  }
  @media only screen and (min-width: ($mobile-width+1)) {
    margin: 55px 0px 0px 0px;
  }

  display: flex;
  flex-direction: column;
}

section {
  margin-top: 40px;
  margin-bottom: 10px;
  background-color: colours.$almondCream;
}

@mixin asymmetrical-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  box-sizing: border-box;
  gap: 20px;
}

@mixin assymetrical-grid-split-area {
  display: flex;
  flex-direction: column;
  flex: 50%;
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
}

@mixin assymetrical-grid-unsplit-area {
  flex: 50%;
  width: 50%;
}

.greeting-area,
.about-me-area {
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;

  @media only screen and (max-width: $mobile-width) {
    display: flex;
    flex-direction: column;
  }
  @media only screen and (min-width: ($mobile-width+1)) {
    @include asymmetrical-grid;
    &__img {
      @include assymetrical-grid-unsplit-area;
    }
    &__text {
      @include assymetrical-grid-split-area;
    }
  }
}
.greeting-area {
  @media only screen and (max-width: $mobile-width) {
    &__img {
      display: none;
    }
  }
  @media only screen and (min-width: ($mobile-width+1)) {
    margin-top: 80px;
  }
}
.about-me-area {
  @media only screen and (max-width: ($mobile-width+1)) {
    display: flex;
    flex-direction: column;
    &__text {
      order: 1;
    }

    &__img {
      margin-top: auto;
      order: 2;
    }
  }
}

@mixin grid($width) {
  display: grid;
  grid-template-columns: repeat($width, 1fr);
  grid-auto-flow: row;
}

.technical-skills-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__text {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__grid {
    @media only screen and (max-width: ($mobile-width)) {
      @include grid(1);
    }

    @media only screen and (min-width: ($mobile-width+1)) {
      @include grid(9);
      padding-left: 100px;
      padding-right: 100px;
    }
  }
}

.my-projects-area {
  display: flex;
  align-items: center;
  flex-direction: column;

  &__grid {
    @media only screen and (max-width: ($mobile-width)) {
      @include grid(1);
    }
    @media only screen and (min-width: ($mobile-width+1)) {
      @include grid(2);
    }
  }

  &__project {
    align-items: center;

    padding: 40px;

    @media only screen and (max-width: ($mobile-width)) {
      width: 80vw;
    }
    @media only screen and (min-width: ($mobile-width+1)) {
      width: 40vw;
    }

    &--image {
      display: flex;
      width: 100%;
    }
  }
}
.my-projects-area,
.technical-skills-area {
  margin-left: 20px;
  margin-right: 20px;
}
