header {
  background-color: grey;
  width: 100vw;
  height: 45px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

footer {
  background-color: grey;
  width: 100%;
  height: 155px;
}

main {
  margin: 55px 10px 10px 10px;
}

body {
  display: flex;
  overflow: auto;
  flex-direction: column;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  margin: 40px 0px;
}

@mixin asymmetrical-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  box-sizing: border-box;
  gap: 20px;
}

@mixin assymetrical-grid-split-area {
  display: flex;
  flex-direction: column;
  flex: 50%;
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
}

@mixin assymetrical-grid-unsplit-area {
  flex: 50%;
  width: 50%;
}

.greeting-area,
.about-me-area {
  align-items: center;
  @media only screen and (max-width: 344px) {
    display: flex;
    flex-direction: column;
  }
  @media only screen and (min-width: 345px) {
    @include asymmetrical-grid;
    &__img {
      @include assymetrical-grid-unsplit-area;
    }
    &__text {
      @include assymetrical-grid-split-area;
    }
  }
}
.greeting-area {
  @media only screen and (max-width: 344px) {
    &__img {
      display: none;
    }
  }
}
.about-me-area {
  @media only screen and (max-width: 344px) {
    display: flex;
    flex-direction: column;
    &__text {
      order: 1;
    }

    &__img {
      margin-top: auto;
      order: 2;
    }
  }
}
